.container {
  padding: 0;
  margin: 0;
}
.nav {
  display: flex;
  justify-content: space-between;
  padding-left: 130px;
  margin-top: 50px;
}
.left_nav > h1 > i {
  color: coral;
}
.left_nav > h1 {
}
.right_nav {
  display: flex;
  padding-right: 120px;
  padding-top: 30px;
}
.right_nav > div {
  margin: 10px;
}
.center_nav {
  display: flex;
  justify-content: space-evenly;
  margin-top: 30px;
}
.center_nav > div {
  margin: 10px;
}
.slogan {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("https://images.unsplash.com/photo-1484950763426-56b5bf172dbb?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
  text-align: center;
  color: white;
  height: 800px;
  font-size: 20px;
}
.btn {
  background-color: coral;
  border-radius: 15px;
  padding: 5px;
}
.requirment {
  display: flexbox;
  margin: 90px 400px;
  border-radius: 50px;
  height: 120px;
  box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.2);
}
.naviator {
  display: flex;
}

.naviator > h6 {
  padding: 0px 70px;
  font-size: 15px;
}
.input_naviator {
  padding-left: 10px;
}
.input_naviator > input {
  justify-content: center;
  border-radius: 25px;
  margin-left: 20px;
}
.input_naviator > button {
  background-color: coral;
  border-radius: 20px;
  padding: 7px;
  margin-bottom: 80px;
}
.destinations > h1 {
  font-size: 50px;
}
.destinations {
  margin: 130px;
}
.card {
  margin: 90px;
}
.card_container {
  display: flex;
}
.offers {
  display: flex;
  justify-content: center;
  align-items: center;
}
.offers_h1 > h1 {
  font-size: 80px;
}
.new_house {
  display: flex;
  justify-content: center;
}
.icons {
  color: midnightblue;
  padding: 10px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  padding: 10px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.gallery {
  margin: 130px;
}
.album > img {
  border-radius: 10px;
  padding: 5px;
  border: 5px soild black;
}
.album > img:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.mid_section {
  display: flex;
  justify-content: center;
}
.mid_section_h1 > h1 {
  font-size: 80px;
  color: midnightblue;
}
.mid_section_h1 > i {
  background: #ff7a59;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flexbox;
  text-align: center;
  font-size: 30px;
  margin-right: 60px;
  padding: 10px;
}
.mid_section_h3 {
  display: flex;
  justify-content: center;
  text-align: center;
}
.mid_section_h3 > h3 {
  margin: 20px;
  /* text-align:; */
}
.blogs {
  text-align: center;
  margin: 80px 550px;
}

.blogs > h1 {
  font-size: 60px;
}
.nav_s {
  display: flex;
  justify-content: flex-end;
}
.nav_s > div {
  margin: 20px;
  border-bottom: 2px solid gray;
}
.blog_img {
  display: flex;
  justify-content: center;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
}
.blog_img > div {
  display: flex;
  flex-direction: column;
  margin: 10px;
  text-align: center;
}
.blog_img > div > a {
  display: flex;
  color: #ff7a59;
  margin-top: 100px;
  margin-right: 275px;
}
.about {
  background: url(beg.jpg);
  background-color: lightgrey;
  display: flex;
  justify-content: center;
  color: white;
  height: 400px;
  width: 1500px;
}
.about > div {
  width: 1400px;
  margin: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.about > div > h1 {
  font-size: 50px;
  margin: 20px 200px;
}
.about > div > p {
  font-size: 20px;
  margin: 20px 250px;
}
.btn_r {
  margin: 30px;
  padding: 10px;
  background-color: coral;
  border-radius: 35px;
  font-size: 30px;
}
.footer {
  background-color: lightslategray;
}
.footer > div > h1 {
    margin-left: 50px;
}
.footer > div > h1 > i {
    color: coral;

}
.footer_icon {
    display: flex;
    margin: 30px;
}
.footer_icon > div {
    font-size: 20px;
    padding: 0px 30px;
}
.footer_h3 {
    display: flex;
    justify-content: center;
    text-align: justify;
}
.footer_h3 > h3 {
    padding:0 60px;
}
.footer_p {
    display: flex;
    justify-content: center;
    text-align: center  ;
}
.footer_p > p {
    padding:0px 60px;
}
