.container {
  padding: 0;
  margin: 0;
}
.nav {
  display: flex;
  justify-content: space-between;
  padding-left: 130px;
  margin-top: 50px;
  color: white;
  background-color: black;
}
.left_nav > h1 > i {
  color: coral;
}
.left_nav > h1 {
  color: whitesmoke;
}
.right_nav {
  display: flex;
  padding-right: 120px;
  padding-top: 30px;
}
.right_nav > div {
  margin: 10px;
}
.center_nav {
  display: flex;
  justify-content: space-evenly;
  margin-top: 30px;
}
.center_nav > div {
  margin: 10px;
  /* padding-top: 100px; */
}
.slogan {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.slogan > h1 {
  font-size: 50px;
  display: flex;
  justify-content: ;
}
.slogan > p {
  display: flex;
  justify-content: center;
  align-content: center;
  position: absolute;
  top: 350px;
}
.btn {
  display: flex;
  justify-content: center;
  margin: 20px;
}
.btn > button {
  background-color: coral;
  border-radius: 15px;
  padding: 5px;
}
.requirment {
  display: flex;
  justify-content: center;
  /* margin: 90px 400px; */
  border: 2px solid black;
  border-radius: 30px;
}
.naviator {
  display: flex;
}

.naviator > h6 {
  padding: 0px 60px;
}
.input_naviator {
  display: flex;
  justify-content: center;
  align-content: center;
}
.input_naviator > input {
  display: flex;
  padding: 10px;
  height: 20px;
  border-radius:20px ;
}
